body {
    top: 0;
    font-family: Calibri;
    background-color: #d9e6f2;
    margin: 0;
}

ul {
    background-color: #7FABD2;
    margin: 0;
    padding: 0px;
    left: 0;
    right: 0;
    list-style-type: none;
    overflow: hidden;
}

li {
    display: inline;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px;
    border-right: 1px solid #d9e6f2;
    border-left: 1px solid #d9e6f2;
    text-decoration: none;
    background-color: #7FABD2;
    width: 125px;
}

li a:hover {
        background-color: #398bd4;
}

/* CONTENT */
h1, p{
    margin-left: 20px;
    margin-right: 20px;
}


/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    background-color: #7FABD2;
    text-align: center;
}

/* Navigation */
@media (max-width: 800px) {

    nav ul li a {
        width: 100%;
    }


    ul {
        background-color: #7FABD2;
    }

    li {
        float: none !important;
        background-color: #7FABD2;
        width: 100%;
    }

    li a {
        color: white;
        background-color: #7FABD2;
        display: block; /* Make the links appear below each other */
    }
 }




